modules = ["nodejs-20", "web", "swift-5.8"]
[agent]
expertMode = true
integrations = ["resend:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 41667
externalPort = 3003

[[ports]]
localPort = 41967
externalPort = 8000

[[ports]]
localPort = 42715
externalPort = 8080

[[ports]]
localPort = 42953
externalPort = 5173

[[ports]]
localPort = 43271
externalPort = 3002

[[ports]]
localPort = 43367
externalPort = 3000

[[ports]]
localPort = 43521
externalPort = 3001

[[ports]]
localPort = 44099
externalPort = 8008

[[ports]]
localPort = 45609
externalPort = 5000

[[ports]]
localPort = 46037
externalPort = 4200

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]
